{% load static %}

<script src="{% static "template/js/jquery.min.js" %}"></script>

<script src="{% static "template/js/bootstrap.min.js" %}"></script>

<script src="{% static "template/vendor/wow/wow.min.js" %}"></script>

<script src="https://kit.fontawesome.com/d356795670.js" crossorigin="anonymous"></script>

<script src="{% static "template/vendor/owl-carousel/js/owl.carousel.min.js" %}"></script>

<script src="{% static "template/vendor/waypoints/jquery.waypoints.min.js" %}"></script>

<script src="{% static "template/vendor/animateNumber/jquery.animateNumber.min.js" %}"></script>

<script src="{% static "template/js/google-maps.js" %}"></script>

<script src="{% static "template/js/theme.js" %}"></script>